body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

body {
  padding-top: 60px;
}

.top-nav {
  background-color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.top-nav a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-weight: bold;
}

.top-nav-links {
  display: flex;
}

.intro {
  padding: 50px;
}

.intro h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.social-links a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  text-decoration: none; /* 添加這行來移除所有底線 */
}

.social-links .email-link {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  margin-top: 20px;
}

.social-links .email-link:hover {
  background-color: #555; /* 暗色背景 */
  color: #fff; /* 白色文字 */
  transition: background-color 0.3s, color 0.3s; /* 平滑過渡效果 */
}

.social-links .resume-link {
  display: inline-flex; /* 使用 inline-flex 來對齊圖標和文字 */
  align-items: center; /* 垂直居中對齊 */
}

.email {
  display: block;
  margin-top: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
